---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Biodiversidad en Boyaca y Cundinamarca">
	<main>
		
		<div class="flex flex-col justify-center items-center">
			<h1>Biodiversidad en Cundinamarca y Boyaca</h1>
	
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 600 600">
				<defs>
				  <style>
					.cls-1, .cls-2 {
					  fill: #609166;
					}
			  
					.cls-2, .cls-3 {
					  stroke: #fff;
					  stroke-linecap: round;
					  stroke-linejoin: round;
					  stroke-width: 3px;
					}
			  
					.cls-3, .cls-4 {
					  fill: #6f9c76;
					}
				  </style>
				</defs>
				<!-- Generator: Adobe Illustrator 28.6.0, SVG Export Plug-In . SVG Version: 1.2.0 Build 709)  -->
				<g>
				  <g id="Capa_1">
					<g>
					  <path id="COBOY" class="cls-3" d="M-255.1,39.8l4.3,1,9.6,5.3,3.3.7,3.3-.7,2.7-1.7,4.6-4.3,2-2.3,1.7-2.7,2-4.6,3-6,4,1,1,3.3,1,.7,1.7-.3,1.7-1,1.7-1.7,1-1.3.3-1.3.3-1.3.7-1.3,1-1.3,3.6-1,13.6.3,4.6,1,3.3,1.3,3.3,1.7,6.6.3,5,1-.3.7-1,4.3-2,3.3-6.3,16.2-3.3,6-2,7.3-3.3,4.3-3.6,1.7-1.3,3-4,32.1-1.7,6-1.7,2.7-2,2.3-3,1.3h-2.3l-1.7.7-1.7,1.3-1.7,2-1.7,2-1.3,1-1.3-.3-1-.7-.7-1h-1.7l-1.3,1-1.7,1.7-1,1.7v2.3l-1.3,4-4.3,4-5.6,2.7-7,11.6-3.3,10.6v1.7l.3,1.3,2.7,1.3,1,1,.7,4,1.3,2.3.3,2.3,1.3,2,5,5.3-.3,3.3-2.7,4.3-1.3,8.6-3.6,12.3-.7,1.3-4,1-2.7,1-1.7,1.3-1,1.3v3.3l16.2,8.6,6.6,5,1.3,4,3.3,2.7,4,5.3,3.6,3.3-2.3,2.3-1.3.3-1,1.3-1,1.7-.7,3.3-.7,2-.7,2-2.3,2-1,2-.3,1.3-2.3,11.6-1.3,1-1.3-.3-2.3-1.3-3.6-2.7-1-1.3-1.7-2.7-1-1.7-1-.7h-1.7l-2,1-4,4.6-18.6,19.9-3.6,6.3-2.3,3.6-7.3,4-9.6,8.6h-3.3l-4.6-6.3-3-2.7-4.3-6-1.3-1.3-3.3-1.7-3.6,3.3-2,1-2.7,2.3-2.7,3-9.3,13.3-1.7,1.3.7,6-1.3,1.3-.3,1-.7,1.7-.7,3.6v2.3l.7,2.3,1.7,3,4.3,3.3,1.3,2.3-2.7,4.6-1,4-1,1.7-3,2.7-3.6,4.6-6.6-3-2.3.3-1,1.3-2.3,11.3-.7,7.6-2.7,7.3-.7,3.3,3.3,9.6-.7,3.3h-2.3l-1,1-.3.7.3,1-.3,1-.3,1-2,3.3-.7,1.3-1.3,1.3-2,1.3-7,.3-7-2.7h-3.6l-1.3-3-.7-5-1.3-1-1.7-.7h-3.3l-3,1-2-.3-1.3-1.3-.7-2-3.6-5.6-6.3-2.3-.3-1.3.7-2.7-1.3-1.7-2.3-3-2.7-4-1.3-1-5-1.7h-13.9l-3.6-5.3v-2.3l5.3-9.9-.7-5.3,6.6-5,.3-2.3-2.7-4.6-.3-3.6.7-2.7-.7-1.7-4-7.3-1.3-4.6.7-4.3-2.7-4.3-.7-1.3-3-2.3-4.3-3.3-1-2-.7-2.3.3-2,.7-2.3,1-2-1.3-1.7v-1.7l-1.7-1-7-6.3-1.7-3.6-.3-1.7h-1l-1.3.3h-2l-2.7-1-4-3.6-3.3.7-8.9-4.3v-8.3l-1-1h-1l-1.3.3-1.7.7-3.6,3.3-9.3,9.6v3l-1.3,3.6-4.6,1.3-10.9,9.9-8-4.3-2.7-.3-2.7-1.3-1.7-1.7-1.7-2.7v-3.3l-8.3.3-2-.7-3-1.3-5.3-3.3h-4l-2,.3-1-1.3-.3-1.3.3-3v-1.3l-1-3.3-7.3-7-2.3-4.6-.3-2,.3-2,2-3.6,1.7-2,.7-2-.3-1.7-1.3-1.7-1-2.7.3-3-.3-2v-1.3l-1.3-1.7-.3-1.7v-3.3l-.3-.3-.7-.3-.7-.3-.7-.7-.3-.7v-1l-.7-1-1-1-1.3-.3-2.7,1.7-5,4.3-2.3,1.7-1.7,1.3-4.3,1-7.6-1.3-2.3-1-2.7-1-3-.3h-1l-2,1.7-4,1.7-9.3,1.7-2.7,1.3-.7-1-1.3-1-.7-1.3,2.3-4.6,1.7-10.6,1-2.3,2-2.7,2.3-2.3,2-.7.7-1.3-2.3-7.3v-3l1-.7,2.7-1.3,1-.3.7-1.7v-1.3l-.3-1-.3-1.3.3-7-.3-2.3-1-3-2.7-2.7-.7-1.7-.3-2.3.7-2.3,2.3-4,1.3-7.3,2.3-4.3,3-3.6,5-3.3.7,4,.3,1.3,1.3,5,1.7,3.3,2.7,8,6.3,9.9,3.6,3.6,2.3,2,2.3,1.3,1.3,1,1.3.7,1.7.7,1.7.3,2.3-.7,4.3-3.3,2.3-1,2.3-.3,1.7,1.3,1.7,2.3,2,5,1.7,3,1.7,3.3-.3,3-4,7.6-1,3.6v2.3l2,6,3,.7,1-.3,2-1.3,2.3-2,2.3-3.6,3.3-2.3,3.6,3.3,7.3,2,2.3,2.3,1.3,5.3,3,.3,2,.3,1.7,1.3,3,5.6,3.6,4.6,6,3.3h2l2-1,1.3-.3,3.3-1,3-.3,1.7.3,2,.7,1,1-.3,4.3,7.6-4.6,10.9-3,5.3-.7,3.6.3,3.3,1,3.3,2,3,2.7,1.7,1.7,1.7-1.3.3-1.7.3-1.7v-4l1.7-8.3,1.7-5,.3-4-.3-3.3-.7-3,.7-2.7,3.3-5.3,1-6,1.7-3.3,7.3-6,.7-1.7,5.3-9.3,2.7,2.7,7.6,3.6,7,6.6,2,3,.7,2v3l-.7,3.6-2.7,6.6-2.3,4-4,2-.3,3-.3.7-3.6,2.3-1.3.7.7,6,6.6,8.3,2.3,1.7,2-.3,2.3-6,3.3-3.3,2-4,.3-4,.7-.7,1-.3,5.6,2,4.3-.7,8.3-12.9,3-8.3,3-1.3,1-.3,2,.7,4,2.7,5.6,3,15.6,2.3h3l1.7-1.7,2.3-8.3,12.6-14.9,1.7-3.3,2.3-2.7,4.6-1.7,5-1.3,3.3-2,3-8.3,3-1.7,2-1,2.3-2,1.3-2,.3-1.7v-3.3l.7-3-2.3-5.3,3.3-9.6-.7-7,1-6.6-.7-2.3-1-2.7-1.7-1.7-1.7-1-5.3-5.3-1-3,1.7-2.7,3.3-1h1.7l3,3,6,4.3,2.7,3.6,2,3.6,3.3,8.6,3,1,4.3-1.3,6.3-6.3,3-1.7,2-1,1.3-2v-9.9l1-3,6.6-11.3,2.7-12.9.7-6.3-1.7-6v-2.7l.3-2,1.3-3.6-4.6-12.3h0Z"/>
					  <path id="COCUN" class="cls-2" d="M-614.6,236.2l2.7-1.3,9.3-1.7,4-1.7,2-1.7h1l3,.3,2.7,1,2.3,1,7.6,1.3,4.3-1,1.7-1.3,2.3-1.7,5-4.3,2.7-1.7,1.3.3,1,1,.7,1v1l.3.7.7.7.7.3.7.3.3.3v3.3l.3,1.7,1.3,1.7v1.3l.3,2-.3,3,1,2.7,1.3,1.7.3,1.7-.7,2-1.7,2-2,3.6-.3,2,.3,2,2.3,4.6,7.3,7,1,3.3v1.3l-.3,3,.3,1.3,1,1.3,2-.3h4l5.3,3.3,3,1.3,2,.7,8.3-.3v3.3l1.7,2.7,1.7,1.7,2.7,1.3,2.7.3,8,4.3,10.9-9.9,4.6-1.3,1.3-3.6v-3l9.3-9.6,3.6-3.3,1.7-.7,1.3-.3h1l1,1v8.3l8.9,4.3,3.3-.7,4,3.6,2.7,1h2l1.3-.3h1l.3,1.7,1.7,3.6,7,6.3,1.7,1v1.7l1.3,1.7-1,2-.7,2.3-.3,2,.7,2.3,1,2,4.3,3.3,3,2.3.7,1.3,2.7,4.3-.7,4.3,1.3,4.6,4,7.3.7,1.7-.7,2.7.3,3.6,2.7,4.6-.3,2.3-6.6,5,.7,5.3-5.3,9.9v2.3l3.6,5.3h13.9l5,1.7,1.3,1,2.7,4,2.3,3,1.3,1.7-.7,2.7.3,1.3,6.3,2.3,3.6,5.6.7,2,1.3,1.3,2,.3,3-1h3.3l1.7.7,1.3,1,.7,5,1.3,3h3.6l7,2.7,7-.3,2-1.3,1.3-1.3.7-1.3,2-3.3.3-1,.3-1-.3-1,.3-.7,1-1h2.3l-1.7,3-5.6,39.8-5.6,36.4-.3,4-1,1.7-1,.7-2.7-1-4.3-3.3-2-1-.7-.7-1-2-2.3-1.7-3.6-1.3-20.5-5.3-10.6,1.3-4.3,3.3-2.7,1-2.7.7-2.7-.7-1.7-1-2.7-.7-2-1.3-1.3-1.3-1-1v-2l-3.6-8-1-4.6v-2.3l-.7-1.7-2.3-3-2-2.3-2-3.6-1.7-.7-1.3-.3h-2.3l-2-1.3-.7-1.3-1-1-2-1-1.7-.7-2,.7-1.7,1.3-2.7,4-1,2.3-3.6,2-4,2-1.3.7-1.7,2.3-1,1.7-.3,3.6,2,2.3,2,8.9-.3,3.3v1.7l.3,1.7,2.7,2.7,1.3,2.7v2.7l.3,1.7,1.7,5.6-4.6.3-2-.7h-3.6l-1.7,1.3-1.7,1.3-11.3,5-3,1-4,1.7-1.3,3.3-1.7,2-3,.7-2.3.3-2.3.7-3,1.3-2.7,3-6,4-8.3,8-5.3-.3,3.3-8.3.3-5.3.7-1.3,1.3-1,1.7-1.3,1.3-1.3,1.7-2.3v-1.7l-1.7-3.6-2-3-4-4.6-2.3-6.6v-2.7l.7-2.3,7-10.9.7-5-.7-1.3-1.3-4.3v-4.3l.7-2,1-1.7,3-2.3,2-3.6,2-3,5-8,1-1,2.7-1.3,3-10.9h-3.3l-2.3-2-.3-1.3.3-1,.3-1,1.7-1.3.7-1.7-.7-1.7-.3-13.6.3-3.3,1-4-4.6-2-3.3-.7-1.3.3-2.7-1.3-.7.7.7.7v2.7l-.3,1-1,1.3-2.3,1.3-1.3,1-3.3,8.3-.3,1-3,.7-1,2.3-3,2.3.3,1.3v.7l-.3.7h1.7l.7.3v1l-.7,1.3-1.3,1-4.3,2-4.3,3.3,2,4,1,1,1,.3,1,1,1,1.7,2,7-.3,7-6.3,16.9,3.6-.3.7,1.3-.3,2.7-1.7,6.3-1.3,8.9-.3,2.7-.3,2.7-1,2.7-1.7,3.3-3.3,4v7.3l-2,7.3-.7,1.3-1,.7-4.3-1.3-1.7-1-3.6-2.3-1.3,1-1,1.3-5,13.3.3,3.6v4l1.3,3.3.3,2v2l-.7,2.7-1,3.3-4.3,9.6-4.3,8-11.9,16.9-6.3-4.6-5.6-6.6,2-12.6,4.6-8,1.3-4.3,1-3-.3-2-3.3-6,2-6.6-1-2.7.3-2.3.7-2,1-2,2.3-2.3,1-1,2-2.3.3-4-1-4.3-.3-1.7-1-2.7-1-1.7-4-8-3-2.3-1.3-1.3-1-1-1.7-.7h-2.7l-4.3,2-1.7.7-1,1.3-.7,2.3-.7,1-1,.7-1.3,2-.7.7-1,.3-1-.7-1-.3-1.7.3-2-.3-2-.7-5.3-5-3,1-1-2.7-.7-.3-4-2v-2l-4.3.7-3.6.3-5,1-3.3.3-2-1.7.7-5,11.9-26.5,2-6.3v-7l-2.3-7.3,2.3-.7-.3-1-2-1.7,1.3-2,2.7-3.6.7-2-.3-1-1-.7-1.3-.3-.7-1-.3-1v-1l.3-.7v-.7l-2.3-3.3-.7-2,1.3-2,1.7-1.3,2.3-.7,1.7-1,.7-1.7.3-2,2.3-2.3.7-2-1.3-8.3v-2.7l.3-2,1.3-1.7,2-.7-.7-1.3v-1.3l.7-1.3v-1.7l-2-6-.3-1,1-1,4-1.7,1-1-.7-1-2.3-4-.7-2v-3.3l2.3-10.3-1-27.2-1.3-3.6-.3-2,1-1,.7-.3,2.7-2.7.7-.7.7-3.3,3.3-5.6,1.3-4.6,1-1,1.3-1,.7-.7-1-4,.7-1,2.3-.3-1-2.7-.3-3.3.3-3,1-2.7-2.3-.7-1-1.7.3-1.7,2.3-.7,3-.3,1-1.3-.7-1-2.7-.7,3-7.3,1-4.6-1-2-1.7-.7.3-1.7,1.3-1.7,1-2,.7-1,.3-1-1.3-.7-.7-.3-.3-1-.3-.7v-5.6h0Z"/>
					</g>
					<g>
					  <path id="COBOY-2" data-name="COBOY" class="cls-4" d="M454.9,39.8l4.3,1,9.6,5.3,3.3.7,3.3-.7,2.7-1.7,4.6-4.3,2-2.3,1.7-2.7,2-4.6,3-6,4,1,1,3.3,1,.7,1.7-.3,1.7-1,1.7-1.7,1-1.3.3-1.3.3-1.3.7-1.3,1-1.3,3.6-1,13.6.3,4.6,1,3.3,1.3,3.3,1.7,6.6.3,5,1-.3.7-1,4.3-2,3.3-6.3,16.2-3.3,6-2,7.3-3.3,4.3-3.6,1.7-1.3,3-4,32.1-1.7,6-1.7,2.7-2,2.3-3,1.3h-2.3l-1.7.7-1.7,1.3-1.7,2-1.7,2-1.3,1-1.3-.3-1-.7-.7-1h-1.7l-1.3,1-1.7,1.7-1,1.7v2.3l-1.3,4-4.3,4-5.6,2.7-7,11.6-3.3,10.6v1.7l.3,1.3,2.7,1.3,1,1,.7,4,1.3,2.3.3,2.3,1.3,2,5,5.3-.3,3.3-2.7,4.3-1.3,8.6-3.6,12.3-.7,1.3-4,1-2.7,1-1.7,1.3-1,1.3v3.3l16.2,8.6,6.6,5,1.3,4,3.3,2.7,4,5.3,3.6,3.3-2.3,2.3-1.3.3-1,1.3-1,1.7-.7,3.3-.7,2-.7,2-2.3,2-1,2-.3,1.3-2.3,11.6-1.3,1-1.3-.3-2.3-1.3-3.6-2.7-1-1.3-1.7-2.7-1-1.7-1-.7h-1.7l-2,1-4,4.6-18.6,19.9-3.6,6.3-2.3,3.6-7.3,4-9.6,8.6h-3.3l-4.6-6.3-3-2.7-4.3-6-1.3-1.3-3.3-1.7-3.6,3.3-2,1-2.7,2.3-2.7,3-9.3,13.3-1.7,1.3.7,6-1.3,1.3-.3,1-.7,1.7-.7,3.6v2.3l.7,2.3,1.7,3,4.3,3.3,1.3,2.3-2.7,4.6-1,4-1,1.7-3,2.7-3.6,4.6-6.6-3-2.3.3-1,1.3-2.3,11.3-.7,7.6-2.7,7.3-.7,3.3,3.3,9.6-.7,3.3h-2.3l-1,1-.3.7.3,1-.3,1-.3,1-2,3.3-.7,1.3-1.3,1.3-2,1.3-7,.3-7-2.7h-3.6l-1.3-3-.7-5-1.3-1-1.7-.7h-3.3l-3,1-2-.3-1.3-1.3-.7-2-3.6-5.6-6.3-2.3-.3-1.3.7-2.7-1.3-1.7-2.3-3-2.7-4-1.3-1-5-1.7h-13.9l-3.6-5.3v-2.3l5.3-9.9-.7-5.3,6.6-5,.3-2.3-2.7-4.6-.3-3.6.7-2.7-.7-1.7-4-7.3-1.3-4.6.7-4.3-2.7-4.3-.7-1.3-3-2.3-4.3-3.3-1-2-.7-2.3.3-2,.7-2.3,1-2-1.3-1.7v-1.7l-1.7-1-7-6.3-1.7-3.6-.3-1.7h-1l-1.3.3h-2l-2.7-1-4-3.6-3.3.7-8.9-4.3v-8.3l-1-1h-1l-1.3.3-1.7.7-3.6,3.3-9.3,9.6v3l-1.3,3.6-4.6,1.3-10.9,9.9-8-4.3-2.7-.3-2.7-1.3-1.7-1.7-1.7-2.7v-3.3l-8.3.3-2-.7-3-1.3-5.3-3.3h-4l-2,.3-1-1.3-.3-1.3.3-3v-1.3l-1-3.3-7.3-7-2.3-4.6-.3-2,.3-2,2-3.6,1.7-2,.7-2-.3-1.7-1.3-1.7-1-2.7.3-3-.3-2v-1.3l-1.3-1.7-.3-1.7v-3.3l-.3-.3-.7-.3-.7-.3-.7-.7-.3-.7v-1l-.7-1-1-1-1.3-.3-2.7,1.7-5,4.3-2.3,1.7-1.7,1.3-4.3,1-7.6-1.3-2.3-1-2.7-1-3-.3h-1l-2,1.7-4,1.7-9.3,1.7-2.7,1.3-.7-1-1.3-1-.7-1.3,2.3-4.6,1.7-10.6,1-2.3,2-2.7,2.3-2.3,2-.7.7-1.3-2.3-7.3v-3l1-.7,2.7-1.3,1-.3.7-1.7v-1.3l-.3-1-.3-1.3.3-7-.3-2.3-1-3-2.7-2.7-.7-1.7-.3-2.3.7-2.3,2.3-4,1.3-7.3,2.3-4.3,3-3.6,5-3.3.7,4,.3,1.3,1.3,5,1.7,3.3,2.7,8,6.3,9.9,3.6,3.6,2.3,2,2.3,1.3,1.3,1,1.3.7,1.7.7,1.7.3,2.3-.7,4.3-3.3,2.3-1,2.3-.3,1.7,1.3,1.7,2.3,2,5,1.7,3,1.7,3.3-.3,3-4,7.6-1,3.6v2.3l2,6,3,.7,1-.3,2-1.3,2.3-2,2.3-3.6,3.3-2.3,3.6,3.3,7.3,2,2.3,2.3,1.3,5.3,3,.3,2,.3,1.7,1.3,3,5.6,3.6,4.6,6,3.3h2l2-1,1.3-.3,3.3-1,3-.3,1.7.3,2,.7,1,1-.3,4.3,7.6-4.6,10.9-3,5.3-.7,3.6.3,3.3,1,3.3,2,3,2.7,1.7,1.7,1.7-1.3.3-1.7.3-1.7v-4l1.7-8.3,1.7-5,.3-4-.3-3.3-.7-3,.7-2.7,3.3-5.3,1-6,1.7-3.3,7.3-6,.7-1.7,5.3-9.3,2.7,2.7,7.6,3.6,7,6.6,2,3,.7,2v3l-.7,3.6-2.7,6.6-2.3,4-4,2-.3,3-.3.7-3.6,2.3-1.3.7.7,6,6.6,8.3,2.3,1.7,2-.3,2.3-6,3.3-3.3,2-4,.3-4,.7-.7,1-.3,5.6,2,4.3-.7,8.3-12.9,3-8.3,3-1.3,1-.3,2,.7,4,2.7,5.6,3,15.6,2.3h3l1.7-1.7,2.3-8.3,12.6-14.9,1.7-3.3,2.3-2.7,4.6-1.7,5-1.3,3.3-2,3-8.3,3-1.7,2-1,2.3-2,1.3-2,.3-1.7v-3.3l.7-3-2.3-5.3,3.3-9.6-.7-7,1-6.6-.7-2.3-1-2.7-1.7-1.7-1.7-1-5.3-5.3-1-3,1.7-2.7,3.3-1h1.7l3,3,6,4.3,2.7,3.6,2,3.6,3.3,8.6,3,1,4.3-1.3,6.3-6.3,3-1.7,2-1,1.3-2v-9.9l1-3,6.6-11.3,2.7-12.9.7-6.3-1.7-6v-2.7l.3-2,1.3-3.6-4.6-12.3h0Z"/>
					  <path id="COCUN-2" data-name="COCUN" class="cls-1" d="M95.4,236.2l2.7-1.3,9.3-1.7,4-1.7,2-1.7h1l3,.3,2.7,1,2.3,1,7.6,1.3,4.3-1,1.7-1.3,2.3-1.7,5-4.3,2.7-1.7,1.3.3,1,1,.7,1v1l.3.7.7.7.7.3.7.3.3.3v3.3l.3,1.7,1.3,1.7v1.3l.3,2-.3,3,1,2.7,1.3,1.7.3,1.7-.7,2-1.7,2-2,3.6-.3,2,.3,2,2.3,4.6,7.3,7,1,3.3v1.3l-.3,3,.3,1.3,1,1.3,2-.3h4l5.3,3.3,3,1.3,2,.7,8.3-.3v3.3l1.7,2.7,1.7,1.7,2.7,1.3,2.7.3,8,4.3,10.9-9.9,4.6-1.3,1.3-3.6v-3l9.3-9.6,3.6-3.3,1.7-.7,1.3-.3h1l1,1v8.3l8.9,4.3,3.3-.7,4,3.6,2.7,1h2l1.3-.3h1l.3,1.7,1.7,3.6,7,6.3,1.7,1v1.7l1.3,1.7-1,2-.7,2.3-.3,2,.7,2.3,1,2,4.3,3.3,3,2.3.7,1.3,2.7,4.3-.7,4.3,1.3,4.6,4,7.3.7,1.7-.7,2.7.3,3.6,2.7,4.6-.3,2.3-6.6,5,.7,5.3-5.3,9.9v2.3l3.6,5.3h13.9l5,1.7,1.3,1,2.7,4,2.3,3,1.3,1.7-.7,2.7.3,1.3,6.3,2.3,3.6,5.6.7,2,1.3,1.3,2,.3,3-1h3.3l1.7.7,1.3,1,.7,5,1.3,3h3.6l7,2.7,7-.3,2-1.3,1.3-1.3.7-1.3,2-3.3.3-1,.3-1-.3-1,.3-.7,1-1h2.3l-1.7,3-5.6,39.8-5.6,36.4-.3,4-1,1.7-1,.7-2.7-1-4.3-3.3-2-1-.7-.7-1-2-2.3-1.7-3.6-1.3-20.5-5.3-10.6,1.3-4.3,3.3-2.7,1-2.7.7-2.7-.7-1.7-1-2.7-.7-2-1.3-1.3-1.3-1-1v-2l-3.6-8-1-4.6v-2.3l-.7-1.7-2.3-3-2-2.3-2-3.6-1.7-.7-1.3-.3h-2.3l-2-1.3-.7-1.3-1-1-2-1-1.7-.7-2,.7-1.7,1.3-2.7,4-1,2.3-3.6,2-4,2-1.3.7-1.7,2.3-1,1.7-.3,3.6,2,2.3,2,8.9-.3,3.3v1.7l.3,1.7,2.7,2.7,1.3,2.7v2.7l.3,1.7,1.7,5.6-4.6.3-2-.7h-3.6l-1.7,1.3-1.7,1.3-11.3,5-3,1-4,1.7-1.3,3.3-1.7,2-3,.7-2.3.3-2.3.7-3,1.3-2.7,3-6,4-8.3,8-5.3-.3,3.3-8.3.3-5.3.7-1.3,1.3-1,1.7-1.3,1.3-1.3,1.7-2.3v-1.7l-1.7-3.6-2-3-4-4.6-2.3-6.6v-2.7l.7-2.3,7-10.9.7-5-.7-1.3-1.3-4.3v-4.3l.7-2,1-1.7,3-2.3,2-3.6,2-3,5-8,1-1,2.7-1.3,3-10.9h-3.3l-2.3-2-.3-1.3.3-1,.3-1,1.7-1.3.7-1.7-.7-1.7-.3-13.6.3-3.3,1-4-4.6-2-3.3-.7-1.3.3-2.7-1.3-.7.7.7.7v2.7l-.3,1-1,1.3-2.3,1.3-1.3,1-3.3,8.3-.3,1-3,.7-1,2.3-3,2.3.3,1.3v.7l-.3.7h1.7l.7.3v1l-.7,1.3-1.3,1-4.3,2-4.3,3.3,2,4,1,1,1,.3,1,1,1,1.7,2,7-.3,7-6.3,16.9,3.6-.3.7,1.3-.3,2.7-1.7,6.3-1.3,8.9-.3,2.7-.3,2.7-1,2.7-1.7,3.3-3.3,4v7.3l-2,7.3-.7,1.3-1,.7-4.3-1.3-1.7-1-3.6-2.3-1.3,1-1,1.3-5,13.3.3,3.6v4l1.3,3.3.3,2v2l-.7,2.7-1,3.3-4.3,9.6-4.3,8-11.9,16.9-6.3-4.6-5.6-6.6,2-12.6,4.6-8,1.3-4.3,1-3-.3-2-3.3-6,2-6.6-1-2.7.3-2.3.7-2,1-2,2.3-2.3,1-1,2-2.3.3-4-1-4.3-.3-1.7-1-2.7-1-1.7-4-8-3-2.3-1.3-1.3-1-1-1.7-.7h-2.7l-4.3,2-1.7.7-1,1.3-.7,2.3-.7,1-1,.7-1.3,2-.7.7-1,.3-1-.7-1-.3-1.7.3-2-.3-2-.7-5.3-5-3,1-1-2.7-.7-.3-4-2v-2l-4.3.7-3.6.3-5,1-3.3.3-2-1.7.7-5,11.9-26.5,2-6.3v-7l-2.3-7.3,2.3-.7-.3-1-2-1.7,1.3-2,2.7-3.6.7-2-.3-1-1-.7-1.3-.3-.7-1-.3-1v-1l.3-.7v-.7l-2.3-3.3-.7-2,1.3-2,1.7-1.3,2.3-.7,1.7-1,.7-1.7.3-2,2.3-2.3.7-2-1.3-8.3v-2.7l.3-2,1.3-1.7,2-.7-.7-1.3v-1.3l.7-1.3v-1.7l-2-6-.3-1,1-1,4-1.7,1-1-.7-1-2.3-4-.7-2v-3.3l2.3-10.3-1-27.2-1.3-3.6-.3-2,1-1,.7-.3,2.7-2.7.7-.7.7-3.3,3.3-5.6,1.3-4.6,1-1,1.3-1,.7-.7-1-4,.7-1,2.3-.3-1-2.7-.3-3.3.3-3,1-2.7-2.3-.7-1-1.7.3-1.7,2.3-.7,3-.3,1-1.3-.7-1-2.7-.7,3-7.3,1-4.6-1-2-1.7-.7.3-1.7,1.3-1.7,1-2,.7-1,.3-1-1.3-.7-.7-.3-.3-1-.3-.7v-5.6h0Z"/>
					</g>
				  </g>
				</g>
			  </svg>

		</div>
		
		<p class="">
			Colombia es uno de los pocos países megadiversos en el mundo, se estima que en el país podrían existir entre 200.000 y 900.000 especies. Puede decirse que, aproximadamente, por cada 10 especies que existen en el planeta, una habita en nuestro territorio. Tener una riqueza natural tan amplia es un regalo y, al mismo tiempo, una responsabilidad con la que, afortunadamente, muchas personas y organizaciones están comprometidas.

		</p>
		</div>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="../mapa"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
			
		</ul>


	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
