---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Biodiversidad en Boyaca">
	<main class="container min-h-screen px-10 lg:mt-12 flex mx-auto">
		<div class="px-10 flex items-center">
			
				<h1 class="text-7xl text-white font-bold">Biodiversidad <br>en Colombia</h1>
				
	
				
	</main>
</Layout>


